<!DOCTYPE html>
<html lang="en" style="width:8in;height:10.5in;margin: 40px auto;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body style="width:8in;height:10.5in;display:inline-block;margin: 0;">
    <main style="width:8in;height:10.5in;display:inline-block;">
        <div style="display:inline-block;">
            <img src="https://www.tmssandbox.com/assets/images/lotus.png" alt="midcities-logo" height="140"
                width="200">
        </div>
        <div style="display:inline-block;margin-left: 8px">
            <strong style="font-size:20px;">MidCities Motor Freight, Inc.</strong>
            <address style="font-style:inherit;">
                6006 Lake Avenue
                <br>
                St. Joseph, MO 64504 - 0025
                <br>
                Phone: (816) 238-8000
                <br>
                Email: info@example.com
                <br>
            </address>
        </div>

        <br>

        <hr>

        <br>

        <table style="width:100%;max-width: 768px;">
            <tr>
                <td width="50%">
                    <span><b> Shipper Ref:</b> <%= driverLoadsheet.shipping_ref %></span>
                </td>
                <td width="50%">
                    <span><b> Client Ref:</b> <%= driverLoadsheet.client_ref %></span>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    <span><b> Client Code: </b> <span style="text-transform: uppercase;"><%= driverLoadsheet.client_code %></span></span>
                </td>
                <td width="50%">
                    <span><b> Client Name:</b> <%= driverLoadsheet.client_name %></span>
                </td>
            </tr>
        </table>

        <br>

        <table style="width:100%;max-width: 768px;">
            <tr>
                <th style="text-align:left;">Order #</th>
                <th style="text-align:left;">Size</th>
                <th style="text-align:left;">Type</th>
                <th style="text-align:left;">Weight</th>
                <th style="text-align:left;">Chassis</th>
            </tr>
            <tr>
                <td><%= driverLoadsheet.order_number %></td>
                <td><%= driverLoadsheet.size %></td>
                <td><%= driverLoadsheet.type %></td>
                <td><%= driverLoadsheet.weight %></td>
                <td><%= driverLoadsheet.chassis %></td>
            </tr>
        </table>

        <br>

        <table style="width:100%;max-width: 768px;">
            <tr>
                <td width="50%">
                    <span><b> Booking Ref:</b> <%= driverLoadsheet.booking_number %></span>
                </td>
                <td width="50%">
                    <span><b> Driver:</b><%= driverLoadsheet.driver_name %></span>
                </td>
            </tr>
        </table>

        <br>

        <table style="width:100%;max-width: 768px;">
            <tr>
                <th style="text-align:left;">Leg</th>
                <th style="text-align:left;">Container #</th>
                <th style="text-align:left;">Type</th>
                <th style="text-align:left;">Pickup Date</th>
                <th style="text-align:left;">Pickup</th>
                <th style="text-align:left;">Pickup Ref#</th>
                <th style="text-align:left;">Delivery Date</th>
                <th style="text-align:left;">Delivery</th>
            </tr>
            <tr>
                <td><%= driverLoadsheet.leg %></td>
                <td><%= driverLoadsheet.container_number %></td>
                <td><%= driverLoadsheet.leg_type %></td>
                <td><%= driverLoadsheet.pickup_date %></td>
                <td><%= driverLoadsheet.pickup %></td>
                <td><%= driverLoadsheet.pickup_ref %></td>
                <td><%= driverLoadsheet.delivery_date %></td>
                <td><%= driverLoadsheet.delivery %></td>
            </tr>
        </table>

        <br>

        <hr>

        <br>

        <table style="width:50%;max-width: 768px;">
            <tr>
                <th style="text-align:left;">
                    REMARKS
                </th>
            </tr>
            <tr>
                <td>
                    <pre>
I HEREBY CERTIFY THAT ON THE DATE STATED. I CAREFULLY INSPECTED THE EQUIPMENT
DESCRIBED ABOVE AND THAT IS A TRUE AND CORRECT REPORT OF THE RESULTS OF SUCH
INSPECTION AND THAT POSSESION OF SUCH EQUIPMENT WAS TAKEN ON BEHALF OF THE
CONSIGNEE AT THE PLACE AND DATE INDICATED.
          </pre>
                </td>
            </tr>
        </table>

        <br>

        <table style="width:50%;max-width: 768px;">
            <tr>
                <td>Signature</td>
                <td>Date</td>
            </tr>
            <br>
            <tr>
                <td>*<%= driverLoadsheet.order_number %>*</td>
            </tr>
        </table>

        <br>

        <div>Delivery Loading Record:</div>
    </main>
</body>

</html>