<!DOCTYPE html>
<html lang="en" style="width:8in;height:10.5in;margin: 40px auto;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body style="width:8in;height:10.5in;display:inline-block;margin: 0;">
    <main style="width:8in;height:10.5in;display:inline-block;">
        <div>
            <table style="width:100%;max-width: 768px;">
                <tr>
                    <td>
                        <div style="display:inline-block;">
                            <img src="https://www.tmssandbox.com/assets/images/lotus.png" alt="midcities-logo"
                                height="140" width="200">
                        </div>
                        <div style="display:inline-block;margin-left: 8px">
                            <strong style="font-size:20px;">MidCities Motor Freight, Inc.</strong>
                            <address style="font-style:inherit;">
                                6006 Lake Avenue
                                <br>
                                St. Joseph, MO 64504 - 0025
                                <br>
                                Phone: (816) 238-8000
                                <br>
                                Email: info@example.com
                                <br>
                            </address>
                        </div>
                    </td>
                    <td style="vertical-align:bottom;padding-top: 46px">
                        <div style="display:inline-block;">
                            <h4>Invoice</h4>
                            <h4>Order Number</h4>
                            <h4>Date</h4>
                        </div>
                        <div style="display:inline-block;margin-left: 4px;">
                            <p style="margin: 21.28px 0;"><%= invoiceData.invoice_number %></p>
                            <p style="margin: 21.28px 0;"><%= invoiceData.order_number %></p>
                            <p style="margin: 21.28px 0;"><%= invoiceData.date %></p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <hr>
        <br>
        <div>
            <table style="width:100%;max-width: 768px;">
                <tr>
                    <th style="text-align:left;width:33.33%;font-size:19px;" height="35px">BILL TO</th>
                    <th style="text-align:left;width:33.33%;font-size:19px;" height="35px">SHIPPER</th>
                    <th style="text-align:left;width:33.33%;font-size:19px;" height="35px">CONSIGNEE</th>
                </tr>
                <tr>
                    <td style="width:33.33%;" valign="top">
                        <strong
                            style="font-size:15px;text-transform: uppercase;"><%= invoiceData.customerName %></strong>
                        <address style="font-style:inherit">
                            <%= invoiceData.customerAddress %>
                            <br>
                            Phone: <%= invoiceData.customerPhone %>
                            <br>
                            Email: <%= invoiceData.customerEmail %>
                            <br>
                        </address>
                    </td>
                    <td style="width:33.33%" valign="top">
                        <strong
                            style="font-size:15px;text-transform: uppercase;"><%= invoiceData.shippingName %></strong>
                        <address style="font-style:inherit">
                            <%= invoiceData.shippingAddress %>
                            <br>
                            Phone: <%= invoiceData.shippingPhone %>
                            <br>
                        </address>
                    </td>
                    <td style="width:33.33%" valign="top">
                        <strong
                            style="font-size:15px;text-transform: uppercase;"><%= invoiceData.consigneeName %></strong>
                        <address style="font-style:inherit">
                            <%= invoiceData.consigneeAddress %>
                            <br>
                            Phone: <%= invoiceData.consigneePhone %>
                            <br>
                        </address>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <hr>
        <br>
        <div>
            <table style="width:100%;max-width: 768px;">
                <tr>
                    <th style="text-align:left;width:25%" height="35px">Customer Ref No</th>
                    <th style="text-align:left;width:25%" height="35px">Booking No</th>
                    <th style="text-align:left;width:25%" height="35px">Delivery Date</th>
                    <th style="text-align:left;width:25%" height="35px">Container No</th>
                </tr>
                <tr>
                    <td style="width:25%"><%= invoiceData.customer_reference %></td>
                    <td style="width:25%"><%= invoiceData.booking_number %></td>
                    <td style="width:25%"><%= invoiceData.delivery_date %></td>
                    <td style="width:25%"><%= invoiceData.container_number %></td>
                </tr>
            </table>
        </div>
        <br>
        <div>
            <h4 style="margin:0">Additional Charges</h4>
            <hr>
            <br>
            <table style="width:100%;max-width: 768px;">
                <tr>
                    <th style="text-align:left;width:33.33%" height="35px">Name</th>
                    <th style="text-align:left;width:33.33%" height="35px">Description</th>
                    <th style="text-align:left;width:33.33%" height="35px">Subtotal</th>
                </tr>
                <% for(let temp of invoiceData.accessoriesCharge) { %>
                <tr>
                    <td style="width:33.33%"><%= temp.accessories_name %></td>
                    <td style="width:33.33%"><%= temp.description %></td>
                    <td style="width:33.33%"><%= temp.rate %></td>
                </tr>
                <% } %>
            </table>
        </div>
        <br>
        <div>
            <table style="width:100%;max-width: 768px;">
                <tr>
                    <td style="width:50%">
                        <h4>Notes</h4>
                        <p><%= invoiceData.random_notes %></p>
                    </td>
                    <td style="width:50%">
                        <div style="display:inline-block;margin-left: 8px;">
                            <h4>Due Date</h4>
                            <h4>Total Amount</h4>
                        </div>
                        <div style="display:inline-block;margin-left: 30px;">
                            <p style="margin: 21.28px 0;"><%= invoiceData.due_date %></p>
                            <p style="margin: 21.28px 0;"><%= invoiceData.total_amount %></p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </main>
</body>

</html>