<!DOCTYPE html>
<html lang="en" style="width:8in;height:10.5in;margin: 40px auto;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body style="width:8in;height:10.5in;display:inline-block;margin: 0;">
    <main style="width:8in;height:10.5in;display:inline-block;">
        <div style="display:inline-block;">
            <img src="http://www.midcitiesapp.com/assets/images/midcities.png" alt="midcities-logo" height="140"
                width="200">
        </div>
        <div style="display:inline-block;margin-left: 8px">
            <strong style="font-size:20px;">MidCities Motor Freight, Inc.</strong>
            <address style="font-style:inherit;">
                6006 Lake Avenue
                <br>
                St. Joseph, MO 64504 - 0025
                <br>
                Phone: (816) 238-8000
                <br>
                Email: info@example.com
                <br>
            </address>
        </div>

        <br>

        <hr>

        <br>

        <table style="width:100%;max-width: 768px;">
            <tr>
                <td width="50%">
                    <span><b> From:</b> <%= driverLoadsheet.date_from %></span>
                </td>
                <td width="50%">
                    <span><b> To:</b> <%= driverLoadsheet.date_to %></span>
                </td>
            </tr>

        </table>

        <br>

        <table style="width:100%;max-width: 768px;border: 1px solid black;border-collapse:collapse;">
            <tr style="border: 1px solid black;">
                <th style="text-align:left;border: 1px solid black;width:10%;">Order #</th>
                <th style="text-align:left;border: 1px solid black;width:10%;">Order Status</th>
                <th style="text-align:left;border: 1px solid black;width:32.5%;">Pickup Location</th>
                <th style="text-align:left;border: 1px solid black;width:32.5%;">Delivery Location</th>
                <th style="text-align:left;border: 1px solid black;width:12%;">Completed On</th>
            </tr>
            <% for(let temp of driverLoadsheet.data) { %>
            <tr>
                <td style="text-align:left;border: 1px solid black;width:10%;"><%= temp.order_number %></td>
                <td style="text-align:left;border: 1px solid black;width:10%;"><%= temp.order_status %></td>
                <td style="text-align:left;border: 1px solid black;width:32.5%;"><%= temp.pu_loc %></td>
                <td style="text-align:left;border: 1px solid black;width:32.5%;"><%= temp.dl_loc %></td>
                <td style="text-align:left;border: 1px solid black;width:12%;"><%= temp.act_delivery_time  %></td>
            </tr>
            <% } %>
        </table>
    </main>
</body>

</html>